/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  scroll-behavior: smooth; 
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  border: 3px solid  #f1f4f7;
}

body {
  color: #606163;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.menu {
  
  background: #f1f4f7;
}
.menu-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.menu-link {
  padding: 0 20px;
  line-height: 50px;
  font-weight: 700;
  text-decoration: none;
  color: #606163;
  transition: color 0.5s;
  
}

.menu-link:hover {
  color: #1a1818;
}

.header_content {
  display: flex;
  padding: 0px 0px 15px 15px;
  background-color: #f1f4f7;
}
 
.main_content {
  display: flex;
  background-color: #fdfffeef;
}

h1 {
    margin: 60px 0px 0px 200px;
    font-size: 40px;
    font-weight: bold;
}

.head_prof {
  list-style: none; /* Убираем маркеры */
}

.aside-item a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #606163;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  
  
}


.aside-item img  {
  float: left;
  position: absolute;
  margin-top: 5px;
  margin-bottom: 10px;
  
  
} 

.aside-item p {
  padding-left: 55px;
  padding-top: 9px;
  padding-bottom: 10px;
}



.head_prof p {
    margin: 20px 0px 0px 212px;
    font-size: 25px;
    font-weight: bold;
}

.round {
  border-radius: 200px; /* Радиус скругления */
  box-shadow: 0 0 1px gray; /* Параметры тени */
  width: 289px;
  
}

.aside_content {
    width: 300px;
    padding-left: 24px;

}

.vl {
    border-left: 3px solid  #f1f4f7;
}


.gl {
  border-bottom: 1px solid  #d0d5da;
  margin-left: 450px;
  width: auto;
  
}


figure {
  background: #ebeef0; /* Цвет фона */
  padding: 10px; /* Поля вокруг */
  width: auto; /* Ширина */
 
}

.aside_content h2 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #606163;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 6px;
}

.section_summary , .section_skills , .section_code , .section_experience ,
.section_education , .section_language {
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.section_summary h2, .section_code h2, .section_experience h2,
 .section_language h2 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #606163;
  font-weight: bold;
  padding-bottom: 15px;
}


.section_education h2, .section_skills h2 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #606163;
  font-weight: bold;
} 

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #afb3b8;  
}